.PasswordsList {
  background-color: rgba(0, 0, 0, 0.363);
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  justify-content: space-around;
  align-items: center;
  border-radius: 2px;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgba(255, 255, 255, 0.26);
  padding: 5px 0 5px 0;
  margin-bottom: 10px;
  transition: 0.8s;
  &:hover {
    background-color: rgba(0, 0, 0, 0.779);
  }
  h3 {
    font-size: 22px;
    cursor: default;
  }
  p {
    cursor: pointer;
  }
}
@media (max-width: 425px) {
  .PasswordsList {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
  }
}
