.ShowAndHidePassword {
  div {
    display: flex;
    margin-left: 3px;
    button {
      appearance: button;
      background-color: #1652f0;
      border-radius: 4px;
      box-sizing: border-box;
      color: #ffffff;
      cursor: pointer;
      font-family: Graphik, -apple-system, system-ui, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
      font-size: 14px;
      line-height: 1.15;
      overflow: visible;
      padding: 12px 16px;
      position: relative;
      text-align: center;
      text-transform: none;
      transition: all 80ms ease-in-out;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      width: fit-content;
      &:disabled {
        opacity: 0.5;
      }

      &:focus {
        outline: 0;
      }

      &:hover {
        background-color: #0a46e4;
        border-color: #0a46e4;
      }

      &:active {
        background-color: #0039d7;
        border-color: #0039d7;
      }

      &.hide {
        background-color: rgb(45, 255, 45);
        &:hover {
          background-color: #00ff0d;
        }
      }
      &.show {
        background-color: rgb(253, 49, 49);
        &:hover {
          background-color: red;
        }
      }
    }
  }
}

@media (max-width: 425px) {
  .ShowAndHidePassword {
    div {
      flex-direction: column;
      input {
        height: 30px;
        font-size: 20px;
      }

      .groupBtn {
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }
}
