.PasswordPage {
  width: 100%;
  padding-top: 90px;
  height: 100vh;
  .container {
    position: relative;
    width: 310px;
    height: 200px;
    box-shadow: -6px 9px 13px 3px #000000b0;
    transition: 1.5s;
    background: rgb(0 0 0 / 78%);
    display: flex;
    justify-content: center;
    align-items: center;
    &::after {
      content: "";
      border: 55px solid transparent;
      border-left: 60px solid #fff;
    }
    h1 {
      color: #fff;
      width: 280px;
    }
  }

  button {
    background-color: gree;
  }
}
